* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  &-image {
    background-image: url("../../assets/images/windows-98-background.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  &-logo {
    display: block;
    margin: 0 auto;
    max-height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #bdbebd;
  border-top: 3px solid white;
  padding: 5px;
  &-clock {
    padding: 5px;
    border-top: 3px solid #808080;
    border-left: 3px solid #808080;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    font-weight: bold;
  }
}

.start {
  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
    padding-right: 5px;
    &:hover {
      cursor: pointer;
    }
    &__border {
      border-top: 3px solid #808080;
      border-left: 3px solid #808080;
      border-bottom: 3px solid white;
      border-right: 3px solid white;
    }
  }
  &-image {
    width: 30px;
    transform: rotate(-20deg);
  }
}

.menu {
  width: 300px;
  z-index: 1;
  background-color: #bdbebd;
  display: none;
  position: absolute;
  left: 5px;
  bottom: 42px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid #808080;
  border-right: 3px solid #808080;
  animation: fadeIn 0.3s ease-out;
  animation-fill-mode: forwards;
  &-item {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 14px;
    gap: 10px;
    &-logo {
      height: 100%;
      width: 25%;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-banner {
    display: flex;
    padding: 8px;
    background-image: linear-gradient(#040381, #1083cf);
    border: 0.5px solid white;
    &-text {
      color: white;
      writing-mode: vertical-rl;
      text-orientation: sideways-right;
      transform: rotate(180deg);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
